        <div class="col-md-8">
            <h1>Sapolim</h1>
            <p class="lead">A simple logical language.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack hidden-xs hidden-sm">
                <span class="fa fa-stack-1x iconsfont-2x" style="bottom: -0.9em; left: 0.4em; font-family:helvetica">A</span>
                <span class="fa fa-stack-1x iconsfont-2x" style="bottom: -2.3em; left: 1.1em; font-family:helvetica; font-weight:bold">B</span>
                <i class="fa fa-square-o fa-stack-1x iconsfont-4x" style="bottom: -1.2em; left: 0.4em; color:#6F5499;"></i>
                <i class="fa fa-file-o iconsfont-9x" style="color:#D1D1D1;"></i>
            </span>
        </div>
